.buttonn2 {
  padding: 10px;
  background-color: red;
  color: white;
  margin-left: 40px;
  border: none;
  border-radius: 2px;
  width: 100px;
  width: 400px;
  padding: 24px;
  font-size: larger;
  margin-top: 20px;
  margin-right: 40px;
}
