*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header nav{
    display: flex;
    align-items: center;
    padding-left:20px;
}
header nav section {
    display:flex;
    justify-content: end;
    padding:20px;
    align-items: center;
    margin-left:380px;
}
header nav select{
 
    padding:10px;
    width: 200px;
    border:2px solid grey;
    border-radius:4px;
    background-color: black;
    color:white;
}
.buttonn{
    padding:10px;
    background-color:red;
    color:white;
    margin-left:40px;
    border:none;
    border-radius:2px;
    width:100px;
}
main{
    display:flex;
    /* background:grey; */
    flex-direction:column;
    align-items: center;
    justify-content:center;
    height:600px;

    color:white;
}
main span{
    color:white;
    font-size:28px;
}
main h1+span{
    /* color:black; */
    padding-top:20px;
}
main h1{
    text-align:center;
    font-size:60px;
    width:50%;
}
main .buttonn{
width:400px; 
padding:24px;
font-size: larger;
margin-top:20px;
margin-right:40px;
}
.watchOnContainer{
    display:flex;
    background-color: black;
    
}

.watchOn{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0px;
    height:400px;
    color:white;
    
   

   
}
.watchOn h1{
    font-size: 50px;
    

}.watchOn h2{
    width:80%;
    margin:0px;
    padding:0px;
    padding-top:20px;
    font-size:26px;
    font-weight: 400;
  padding-left:84px;


}.watchOnImage{
    display: flex;
    width:50%;
    margin:0px;

}.downloadContainer{
    margin-top:10px;
}
.downloadContainer .watchOn h2{
    padding-top:10px;
    padding-left: 0px;
    margin-left:0px;
    margin-right:128px;
}
.downloadContainer .watchOn{
    margin-top:60px;
}.watchEverywhereContainer{
    margin-top:10px;
}
.watchEverywhere{
    margin-top:40px;
}
/* .watchEverywhere img{
    padding-right:20px;
} */
.watchEverywhere h2{
    padding-left: 64px;
}.watchEverywhereContainer .watchOnImage img{
    width:600px;

    /* margin-right:20px; */
}
main+section {
  color: white;
  
 

}
