* {
  box-sizing: border-box;
}
section{
    color: black;
    display: flex;
    margin-left: 20%;
    padding: 20px;
    width: 900px;
    
}
a{
    text-decoration: none;
    color: RGB(115, 115, 115);
}li{
    font-size: 13px;
    font-weight: 400;
    vertical-align: baseline;
    padding: 10px;
    text-align: left;
    margin-left: 40%;
    width: 200px;
}p{
    margin-left:27.5%;
}footer{
    padding: 40px;
    margin: 0 auto;
}
section+p{
    color: rgb(115, 115, 115);
    font-size: 13px;
    font-weight: 400;
    margin-left:27.5%;
}